.card {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  background-color: $bw;

  &__link {
    position: relative;
    display: block;
    @include transition(opacity, 0, 0, 0.5, ease);

    &::before {
      @include position-size(1, 1, 0, 0, $bd11);
      opacity: 0;
    }

    &:hover .card__link-icon {
      opacity: 1;
    }

    &:hover {
      &::before {
        opacity: 0.1;
      }
    }

    &:hover {
      &::after {
        opacity: 0;
      }
    }
  }

  &__link-img {
    object-fit: cover;
  }

  &__link-icon {
    @include position-size(1, 2, 48, 48, $bw);
    border-radius: 50%;
    opacity: 0;

    &::before {
      @include position(1, 4);
      @include icon(search, 24, 24, $bg9);
      top: 12px;
      left: 12px;
    }
  }

  &__content {
    flex-direction: column;
    text-align: left;
    min-width: 128px;
  }

  &__text {
    font-weight: 600;
    @include line-clamp(3);
    max-height: 67px;
    text-align: left;
    letter-spacing: 0.5px;
  }

  &__kodprodukta {
    max-width: 104px;
    width: 100%;
    color: $bs5;
    line-height: $lh12;
    font-weight: 400;
    letter-spacing: 0.3px;
    background: $bs1;
    border-radius: 3px;
  }

  &__price-info {
    color: $bd5;
    line-height: $lh1;
    font-weight: 400;
  }

  &__discount em {
    position: relative;
    color: $bs5;

    &::before {
      @include position(1, 0);
      width: 100%;
      left: 0px;
      top: 6px;
      border: 1px solid $bs5;
      transform: rotate(-14.99deg);
    }
  }

  &__summprice {
    color: $bd5;
    line-height: $lh1;
  }

  &__iconbox {
    max-width: 70px;
    padding-right: 37px;
    text-align: left;
    font-size: $sz10;
    line-height: $lh16;
    z-index: 5;
  }

  &__badge {
    display: block;
    text-transform: lowercase;
    border-radius: 6px;
    color: $bw;
    font-weight: 700;

    text-align: center;
    margin: auto 0;

    &--green {
      background-color: $bg9;
      width: 66px;
      margin-top: 9px;
    }

    &--orang {
      background-color: $bo9;
      width: 34px;
      margin-top: 9px;
    }

    &--red {
      background-color: $br9;
      min-width: 37px;
      margin-top: 9px;
    }
  }

  &__availability {
    z-index: 5;
    font-size: $sz10;
    line-height: $lh1;
    text-transform: uppercase;
  }

  &__availability-text {
    @include line-clamp(1);

    &--green {
      color: $bg9;
    }

    &--red {
      color: $br9;
    }

    &--grey {
      color: $bs5;
    }
  }

  &__stars-one {
    line-height: $lh1;
    font-weight: 700;
    padding-right: 18px;
    color: $bd5;
    position: relative;

    &::after {
      @include position(1, 0);
      @include icon(star_1, 16, 16, $by9);
      bottom: 0;
      right: 0;
    }
  }

  &__stars-five {
    display: flex;
  }

  &__btn-heart {
    @include position-size(0, 0, 50, 50, transparent);
    padding: 9px 6px;
    border-radius: 3px;

    @include transition(background-color, transform, background-position, 0
    .5, ease);

    &::before {
      @include position(1, 0);
      top: 10px;
      right: 50%;
      transform: translateX(50%);
      @include icon(heart, 33, 30, $bs5);

      @media (max-width: $md4) {
       @include icon(heart, 33, 25, $bs5);
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $bg2;
    }

    &:hover {
      &::before {
        background-color: $by9;
      }
    }

    &:active {
      &::before {
        background-color: rgba(255, 184, 0, 0.5);
      }
    }

    &--active {
      animation-name: animate;
      animation-duration: .8s;
      animation-iteration-count: 1;
      animation-timing-function: steps(28);
      animation-fill-mode: forwards;
    }

    &--active {
      &::before {
        background-color: rgba(255, 184, 0, 0.5);
      }
    }
  }

  @keyframes animate {
    0% {
      width: 32px;
      height: 32px;
      transform: scale(0.5);
      background-position: left;
    }

    50% {
      width: 60px;
      height: 60px;
      background-position: right;
      transform: scale(0.8);
    }

    100% {
      width: 50px;
      height: 50px;
      background-position: right;
      transform: scale(1);
    }
  }

  &__btn-close {
    width: 24px;
    height: 24px;

    &::before,
    &::after {
      width: 12px;
      background-color: $bs5;
      top: 12px;
      left: 6px;
    }
  }

  &__btn-cart {
    @include position-size(0, 0, 32, 32, $bg9);
    border-radius: 3px;
    padding: 8px;

    &::before {
      @include position(1, 3);
      @include icon(cart_card, 16, 16, $bw);
      top: 25%;
      left: 25%;
    }
  }

  &__pic {
    width: 84px;
    height: 24px;
  }

  &__pic-input {
    width: 36px;
    background-color: $bg1;
    font-weight: 400;
    font-size: $sz14;
    line-height: $lh1;
    color: $bd5;
    text-align: center;
    outline: transparent;
    border: none;
  }

  &__pic-input[type="number"]::-webkit-outer-spin-button,
  &__pic-input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  &__pic-btn {
    @include position-size(0, 0, 24, 24, $bg9);
    padding: 0;

    &::before {
      @include position-size(1, 0, 16, 2, $bw);
      top: 50%;
      left: 50%;
      transform: translateY(50%);
      transform: translateX(-50%);
    }

    &--minus {
      border-radius: 3px 0 0 3px;
    }

    &--plus {
      border-radius: 0 3px 3px 0;
      position: relative;

      &::after {
        @include position-size(1, 0, 16, 2, $bw);
        top: 50%;
        left: 15%;
        transform: translateY(50%);
        transform: translateX(-50%);
        transform: rotate(90deg);
      }
    }
  }

  &__displaynone-btn {
    display: none;

    &--active {
      display: block;
    }
  }

  &__btn-text {
    display: block;

    &--active {
      display: none;
    }
  }
}