.mainpage {
  padding-top: 48px;
  padding-bottom: 73px;

  @media (max-width: $md3) {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: $sz42;
    line-height: $lh12;
    @extend %fR700;

    @media (max-width: $md3) {
      font-size: $sz36;
      margin-bottom: 30px;
    }
  }

  &__filter-menu {
    display: flex;
  }

  &__filter {
    max-width: 300px;
    width: 100%;
    margin-left: 4px;
  }

  &__btn-close {
    padding-top: 29px;
    padding-bottom: 29px;
    left: 257px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__filter-title {
    font-size: $sz24;
    line-height: $lh12;
    letter-spacing: 0.3px;
    @extend %fR400;
    display: block;
    width: 300px;
    border: 1px solid $bs5;
    padding: 18px 24px 18px 18px;
    display: flex;
    justify-content: space-between;
    outline: transparent;
    position: relative;

    &::after {
      @include position(1, 0);
      /* position: absolute; 
      content: "";*/
      right: 24px;
      top: 27px;

      @include icon(chevron, 18, 11, $bs5);
      /* height: 11px;
      background-color: $bs5;
      width: 18px;
      mask: url('../images/sprite.svg#icon-chevron') center / cover no-repeat; */
      transform: rotate(-90deg);
    }

    &--active {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &__filter-item {
    border-radius: 6px;
  }

  &__filter-item {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: $md2) {
        margin-right: 0;
      }
    }
  }

  &__filter-top {
    @media (max-width: $md2) {
      display: none;
      position: absolute;
      z-index: 200;
      left: 0;
      top: 0;

      background-color: $bw;
      height: 100vh;
      overflow-y: auto;
      padding-right: 15px;
      padding-left: 15px;

      &--active {
        display: block;
      }
    }
  }

  &__filter-list {
    display: none;
    /* transform: scaleY(0); */
    /* transition: transform 0.5s ease; */
    width: 300px;
    padding: 12px 18px;
    max-height: 258px;
    overflow-y: auto;
    border: 1px solid $bs5;
    border-top-color: transparent;

    &--offer,
    &--brand {
      padding: 12px 17px;
    }

    &--price {
      min-height: 123px;
    }

    &--active {
      display: block;
    }
  }

  &__item {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;

    &--input {
      padding-top: 7px;
      padding-bottom: 7px;
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
  }

  &__link,
  &__filter-label {
    font-size: $sz18;
    line-height: $lh128;
    @extend %fOS400;
    letter-spacing: 0.3px;
  }

  &__filter-label {
    line-height: $lh12;
    padding-left: 12px;
    margin-bottom: 2px;
  }

  &__filter-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    @include transition(border-color, opacity, 0, 0.5, ease);
    /*  outline: transparent;
    transition: border-color 0.5s ease,
      opacity 0.5s ease; */

    &:hover+.mainpage__filter-checkbox,
    &:checked+.mainpage__filter-checkbox {
      border-color: $bd5;
    }

    &:checked+.mainpage__filter-checkbox::before {
      opacity: 1;
    }
  }

  &__filter-checkbox {
    background-color: $bs1;
    border: 1px solid $bs5;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: -24px;

    &::before {
      @include position(1, 0);
      /* position: absolute;
      content: ""; */
      top: 8px;
      left: 6px;

      @include icon(checkbox, 12, 8, $bd5);
      /* width: 12px;
      height: 8px;
      mask: url('../images/sprite.svg#icon-checkbox') center / cover no-repeat;
      background-color: $bd5; */
      opacity: 0;
    }
  }

  &__content {
    width: 100%;
  }

  &__content-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 7;

    width: 100%;
    margin-bottom: 48px;

    @media (max-width: $md3) {
      margin-bottom: 30px;
      justify-content: space-between;
    }
  }

  &__content-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--select {
      @media (max-width: $md3) {
        order: 1;
      }
    }
  }

  &__content-item {
    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: $md3) {
        margin-right: 10px;
      }
    }
  }

  &__content-item--two,
  &__content-item--three {
    @media (max-width: $md3) {
      display: none;
    }
  }

  &__content-item--filter {
    display: none;

    @media (max-width: $md3) {
      display: block;
      margin-right: 10px;
    }
  }

  &__filter-sort {
    position: relative;
    width: 47px;
    height: 47px;
    @include transition(background-color, 0, 0, 0.5, ease);
    /* outline: transparent;
    transition: background-color 0.5s ease; */

    &::before {
      @include position-size(1, 0, 47, 47, $bs5);
      /* position: absolute;
      content: ""; */
      top: 0;
      left: 0;
      /*  width: 47px;
      height: 47px;
      background-color: $bs5; */
    }

    &--two {
      &::before {
        mask: url('../images/sprite.svg#icon-btn_view_list') center / cover no-repeat;
      }
    }

    &--three {
      &::before {
        mask: url('../images/sprite.svg#icon-btn_view_gri') center / cover no-repeat;
      }
    }

    &--menu-filter {
      &::before {
        mask: url('../images/sprite.svg#icon-filter') center / cover no-repeat;
      }
    }

    &:hover {
      &::before {
        background-color: $bg9;
      }
    }

    &--active {
      &::before {
        background-color: $bg9;
      }
    }
  }

  &__content-select {
    outline: transparent;
  }

  &__form-label {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
  }

  &__form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-from,
  &__form-to {
    display: block;
    width: 80px;
    text-align: center;
    color: $bd5;
    font-size: $sz16;
    line-height: $lh1;
    letter-spacing: 0.3px;
    @extend %fOS400;

    padding: 12px;

    background-color: $bs1;
    border: 1px solid $bs5;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }

  &__form-text {
    display: block;
    color: $bs5;
    font-size: $sz16;
    line-height: $lh12;
    letter-spacing: 0.3px;
    @extend %fOS400;
  }

  &__content-footer {
    display: flex;
    justify-content: space-between;
    top: -60px;

    @media (max-width: $md3) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__content-btn {
    margin-left: 30px;
    letter-spacing: 1.1px;

    @include transition(background-color, box-shadow, 0, 0.5, ease);
    /* outline: transparent;
    transition: background-color 0.5s ease,
      box-shadow 0.5s ease; */

    @media (max-width: $md3) {
      margin-bottom: 24px;
    }
  }
}

/*стилизация select*/
/*не убирается рамка вокруг selecta*/
.jq-selectbox__select {
  width: 100%;
  height: 47px;
  padding: 7px 47px 7px 15px;
  border: none;
  border: 1px solid $bs5;
  border-radius: 3px;
  background: transparent;
  color: $bd5;
  font-size: $sz14;
  line-height: $lh12;
  @extend %fOS400;
  letter-spacing: 0.3px;

  text-shadow: none;
  box-shadow: none;
  outline: transparent;

  & .jq-selectbox__trigger-arrow {
    transform: rotate(0deg);
  }

  &:hover {
    background: transparent;
    border: 1px solid $bd5;
    border-radius: 3px 3px 0 0;
    outline: transparent;

    & .jq-selectbox__trigger-arrow {
      transform: rotate(180deg);
    }
  }
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
  outline: transparent;
  box-shadow: 0 0 0 3px #E0EDCF;
}

.jq-selectbox__select-text {
  margin-top: 7px;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: none;
  outline: transparent;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox__dropdown {
  overflow-y: auto;
}

.jq-selectbox__dropdown ul {
  margin: 0;
  overflow-y: auto;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 20px;
  right: 21px;

  @include icon(chevron_select, 11, 6, $bs5);
  /* height: 6px;
  background-color: $bs5;
  width: 11px;
  mask: url('../images/sprite.svg#icon-chevron_select') center / cover no-repeat; */
}

.jq-selectbox__dropdown {
  width: 100%;
  border: 1px solid $bs5;
  border-radius: 3px;
  background: $bw;
  color: $bd5;
  font-size: $sz14;
  line-height: $lh12;
  @extend %fOS400;
  letter-spacing: 0.3px;

  text-shadow: none;
  box-shadow: none;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 15px 17px 15px 9px;
  color: $bd5;
}

.jq-selectbox li.selected {
  background-color: $bw;
  color: $bd5;
  font-size: $sz14;
  line-height: $lh12;
  @extend %fOS400;
  letter-spacing: 0.3px;
}

/*стилизация input-слайдера*/
.irs--flat {
  height: 18px;
  margin-top: 23px;
  margin-bottom: 18px;
}

.irs--flat .irs-line {
  border: none;
  height: 2px;
  background-color: $bd11;
}

.irs--flat .irs-bar {
  height: 2px;
  background-color: $bg9;
}

.irs--flat .irs-handle>i:first-child {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $bg9;
  top: -6px;
}

/*не отображает изменение box-shadow*/
.irs-handle.state_hover {

  & .mainpage__form-from,
  & .mainpage__form-to {
    box-shadow: 0 0 0 3px #E0EDCF;
  }
}

.irs-handle {
  &:hover {

    & .mainpage__form-from,
    & .mainpage__form-to {
      box-shadow: 0 0 0 3px #E0EDCF;
    }
  }
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
  background-color: $bg9;

  & .mainpage__form-from,
  & .mainpage__form-to {
    box-shadow: 0 0 0 3px #E0EDCF;
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
  cursor: default;
  white-space: nowrap;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  display: none;
}

.mainpage-cardbox {

  &__full {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    left: -30px;

    @media (max-width: $maxWidth) {
      left: -5px;
      margin-bottom: 5px;
    }

    &--active {
      @media (max-width: $maxWidth) {
        justify-content: center;
      }
    }
  }

  &__item {
    width: 100%;
    width: calc(100% / 3 - 30px);
    height: 100%;
    margin-left: 30px;
    margin-bottom: 30px;

    @media (max-width: $maxWidth) {
      width: calc(100% / 3 - 5px);
      margin-left: 5px;
      margin-bottom: 5px;
    }

    @media (max-width: $md4) {
      width: calc(100% / 2 - 5px);
    }
  }

  &__cards {
    @media (max-width: $maxWidth) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__item--active {
    width: calc(100% / 2 - 30px);

    @media (max-width: $maxWidth) {
      width: 500px;
      margin-left: 0px;
    }
  }

  &__content--active {
    display: grid;
    grid-template-columns: 200px 266px;
    max-width: 466px;
    width: 100%;
    min-height: 162px;
    height: 100%;
    padding-left: 0;
  }
}

.card {
  &__subline--mainpage-cardbox {
    display: flex;
    justify-content: end;
    padding: 11px;
    padding-bottom: 4px;
    padding-left: 6px;
    position: relative;
  }

  &__box--mainpage-cardbox {
    position: relative;
  }

  &__link--mainpage-cardbox {

    &::before {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__link-img--mainpage-cardbox {
    width: 264px;
    height: 225px;
    margin: 0 auto;

    @media (max-width: $md3) {
      width: 168px;
      height: 126px;
    }
  }

  &__link-icon--mainpage-cardbox {
    top: 88px;
    left: 108px;

    @media (max-width: $md3) {
      top: 30px;
      left: 60px;
    }
  }

  &__kodprodukta--mainpage-cardbox {
    display: none;
  }

  &__content--mainpage-cardbox {
    height: 130px;

    @media (max-width: $md3) {
      height: 152px;
    }
  }

  &__topline--mainpage-cardbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;

    @media (max-width: $md3) {
      padding-left: 12px;
      padding-right: 12px;
      height: 70%;
    }
  }

  &__text--mainpage-cardbox {
    @include line-clamp(3);
    max-height: 67px;
    min-height: 60px;
    width: 100%;
    padding-right: 18px;
    margin-bottom: 8px;
  }

  &__bottomline--mainpage-cardbox {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
  }

  &__btn-box--mainpage-cardbox {
    display: flex;
  }

  &__price-info--mainpage-cardbox {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__summprice--mainpage-cardbox {
    display: none;
  }

  &__middleline--mainpage-cardbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    padding-left: 18px;
    padding-right: 18px;

    display: none;

    @media (max-width: $md3) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__iconbox--mainpage-cardbox {
    position: absolute;
    top: 6px;
    left: 12px;
  }

  &__stars--mainpage-cardbox {
    order: 1;
    text-align: end;
  }

  &__stars-five--mainpage-cardbox {
    display: none;
    background-color: yellow;
  }

  &__btn-close--mainpage-cardbox {
    display: none;
  }

  &__pic--mainpage-cardbox {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;

    @media (max-width: $md3) {
      position: absolute;
      margin-right: 0;
      bottom: 56px;
      left: 43px;
    }
  }

  &__btn-cart--mainpage-cardbox {
    & span {
      display: none;
    }
  }

  &__subline--mainpage-cardbox--active {
    position: absolute;
  }

  &__box--mainpage-cardbox--active {
    position: relative;
  }

  &__link--mainpage-cardbox--active {

    &::before {
      /* max-width: 300px; */
      width: 100%;
      /* min-height: 225px; */
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__link-img--mainpage-cardbox--active {
    width: 200px;
    height: 162px;
    padding: 7px 0 5px 4px;
    object-fit: contain;
  }

  &__link-icon--mainpage-cardbox--active {
    top: 57px;
    left: 76px;
  }

  &__kodprodukta--mainpage-cardbox--active {
    display: none;
  }

  &__content--mainpage-cardbox--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 162px;
  }

  &__topline--mainpage-cardbox--active {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
  }

  &__text--mainpage-cardbox--active {
    @include line-clamp(3);
    max-height: 67px;
    min-height: 60px;
    max-width: 178px;
    width: 100%;
    margin-bottom: 8px;
  }

  &__bottomline--mainpage-cardbox--active {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    margin-right: 18px;
    padding-bottom: 18px;
  }

  &__btn-box--mainpage-cardbox--active {
    display: flex;
    justify-content: space-between;
  }

  &__price-info--mainpage-cardbox--active {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__summprice--mainpage-cardbox--active {
    display: none;
  }

  &__middleline--mainpage-cardbox--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    padding-left: 18px;
    padding-top: 14px;
    margin-right: 18px;
  }

  &__iconbox--mainpage-cardbox--active {
    position: absolute;
    top: 6px;
    right: 0;
  }

  &__stars--mainpage-cardbox--active {
    order: 1;
    text-align: end;
  }

  &__stars-five--mainpage-cardbox--active {
    display: none;
    background-color: yellow;
  }

  &__btn-heart--mainpage-cardbox--active {
    position: absolute;
    top: 57px;
    right: -420px;
  }

  &__btn-close--mainpage-cardbox--active {
    display: none;
  }

  &__pic--mainpage-cardbox--active {
    display: flex;
    justify-content: space-between;
  }

  &__btn-cart--mainpage-cardbox--active {
    & span {
      display: none;
    }
  }
}

.catalog-advantage {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}