.footer {
  background-color: $bd7;
  color: $bw;
  font-weight: 400;

  &__contact {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: $md3) {
      padding-bottom: 0;
    }
  }

  &__contact-inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md2) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: $md4) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__logo-img {
    margin-bottom: 30px;

    @media (max-width: $md3) {
      margin: 0 auto;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__form-title {
    line-height: $lh1;
    margin-bottom: 18px;
  }

  &__form {
    max-width: 306px;
    width: 100%;
    position: relative;

    @media (max-width: $md2) {
      margin-bottom: 50px;
      margin-right: 0;
    }

    @media (max-width: $md3) {
      align-items: center;
      order: 2;
      margin-bottom: 24px;
    }

    @media (max-width: $md4) {
      margin-left: 0;
    }
  }

  &__form-input {
    max-width: 181px;
    width: 100%;
    height: 40px;
    background-color: $bw;
    outline: transparent;
    border-radius: 6px 0 0 6px;
    color: $bd7;
    line-height: $lh14;

    &::placeholder {
      padding-left: 10px;
      color: $bs8;
      font-size: $sz14;
      line-height: $lh1;
      font-weight: 400;
    }

    @media (max-width: $md3) {
      max-width: 182px;
      width: 100%;
    }
  }

  &__form-title {
    @media (max-width: $md3) {
      padding-left: 30px;
    }

    @media (max-width: $md4) {
      padding-left: 0;
    }
  }

  &__form-btn {
    position: absolute;
    font-size: $sz12;
    line-height: $lh136;
    font-weight: 700;
    border-radius: 0 6px 6px 0;
    padding: 12px 17px;

    @media (max-width: $md2) {
      padding: 12px 12px;
      max-width: 118px;
      width: 100%;
    }
  }

  &__info {
    max-width: 467px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    font-weight: 400;

    @media (max-width: $md2) {
      order: 1;
      max-width: 650px;
      width: 100%;
      column-count: 4;
      margin-right: 0;
    }

    @media (max-width: $md3) {
      order: 1;
      padding-top: 24px;
      border-top: 1px solid $bd2;
      padding-bottom: 24px;
      border-bottom: 1px solid $bd2;
      margin-bottom: 24px;
      letter-spacing: -0.7px;
    }
  }

  &__info-list{
      @media (max-width: $md4) {
       padding-right: 37px;
      }
  }

  &__info-content {
    @media (max-width: $md4) {
      display: flex;
      min-width: 479.98px;
      width: 100%;
    }
  }

  &__info-item {
    margin-bottom: 18px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    @media (max-width: $md3) {
      max-width: 117px;
      width: 100%;
      text-align: left;
      padding-left: 0;
    }
  }

   &__info-media {
     @media (max-width: $md4) {
       min-width: 178px;
       padding-left: 37px;
     }
   }

   &__info-item--last{
      @media (max-width: $md4) {
       padding-left: 15px;
      }
   }

  &__info-link {
    @include transition(opacity, color, 0, 0.5, ease);

    &:focus {
      box-shadow: 0 0 0 3px $bg1;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $bg2;
    }
  }

  &__adress {
    max-width: 215px;
    width: 100%;
    margin-bottom: 18px;
  }

  &__adress-text {
    margin-bottom: 18px;

    @media (max-width: $md3) {
      margin-bottom: 18px;
    }
  }

  &__social {
    display: flex;
    flex-wrap: nowrap;
    @include img_bg();
    text-align: center;

    @media (max-width: $md3) {
      width: 100%;
      padding-bottom: 24px;
    }

    @media (max-width: $md3) {
      justify-content: center;
    }
  }

  &__social-item {
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    display: block;
    margin-right: 11px;
    width: 33px;
    height: 32px;

    @include transition(background-color, opacity, 0, 0.5, ease);

    &:focus {
     box-shadow: 0 0 0 3px rgba(224, 237, 207, 1);
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      background-color: $bg2;
    }
  }

  &__border {
    display: block;
    opacity: 0.1;
    height: 1px;
    background-color: $bw;
  }

  &__bottom {
    padding-top: 24px;
    letter-spacing: 0.3px;
    padding-bottom: 21px;
    position: relative;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md3) {
      flex-direction: column;
    }
  }

  &__bottom-text {
    text-transform: uppercase;
  
    @media (max-width: $md3) {
      text-align: center;
      display: block;
      order: 1;
    }
  }

  &__bottom-icons {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md3) {
      justify-content: center;
      order: 0;
      padding-bottom: 24px;
    }
  }

  &__bottom-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 29px;
    margin-right: -53px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}