html,
body {
  height: 100%;
}

body.hidden {
  overflow: hidden;
}

body {
  color: $bd9;
  font-size: $sz14;
  line-height: $lh14;
  font-family: $fos;
  font-weight: 600;

  background-color: $bw;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: $maxWidthContainer + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /*  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 15px;
  } */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.element__hidden-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  padding: 72px 0;

  @media (max-width: $md2) {
    padding: 60px 0;
  }

  @media (max-width: $md3) {
    padding: 40px 0;
  }

  @media (max-width: $md4) {
    padding: 50px 0;
  }
}

.title {
  font-size: $sz32;
  letter-spacing: 0.9px;
  margin-bottom: 30px;
  font-family: $fr;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $md2) {
    font-size: $sz30;
  }

  @media (max-width: $md3) {
    font-size: $sz28;
  }

  @media (max-width: $md4) {
    font-size: $sz24;
  }
}

.breadcrumbs {
  background-color: $bs1;
  padding-top: 24px;
  padding-bottom: 24px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: $bd5;
    line-height: $lh12;
    font-weight: 400;
    letter-spacing: 0.3px;
  }

  &__link {
    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 6px;
      position: relative;
    }

    &::after {
      position: absolute;
      content: "";
      top: 7px;
      right: 0;
      width: 10px;
      height: 6px;
      mask: url('../images/sprite.svg#icon-chevron') center / cover no-repeat;
      background-color: $bd5;
    }
  }
}

.pagination {
  display: flex;

  &__list {
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
  }

  &__item {
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $bs1;
    border: 1px solid transparent;
    border-radius: 3px;

    outline: transparent;
    transition: border-color 0.5s ease,
      box-shadow 0.5s ease;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
    }

    &:hover {
      border-color: $bs5;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--active {
      border-color: $bd5;
    }

    &--hidden {
      @media (max-width: $md4) {
        display: none;
      }
    }
  }

  &__link {
    color: $bd5;
    font-size: $sz18;
    line-height: $lh1;
    letter-spacing: 0.3px;
    font-weight: 400;
  }

  &__arrows {
    width: 48px;
    height: 48px;
    background-color: $bs1;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: 15px;
      width: 18px;
      height: 11px;
      background-color: $bs5;
    }

    &--prev {
      &::before {
        mask: url('../images/sprite.svg#icon-arrow_prev') center / cover no-repeat;
      }
    }

    &--next {
      &::before {
        mask: url('../images/sprite.svg#icon-arrow_next') center / cover no-repeat;
      }
    }

    &--active {
      &::before {
        background-color: $bd5;
      }
    }
  }
}

.btn {
  color: $bw;
/*   font-size: $sz18; */
  line-height: $lh13;
  font-weight: 400;

  background-color: $bg9;
  border-radius: 6px;

  padding: 12px 24px;

  outline: transparent;
  transition: background-color 0.5s ease,
    box-shadow 0.5s ease;

      @media (max-width: $md4) {
       /*  font-size: $sz14; */
      }

  &:focus {
    box-shadow: 0 0 0 4px $bg2;
  }

  &:hover {
    background-color: $bg7;
  }

  &:active {
    box-shadow: inset 0 4px 4px $bd10;
  }
}

.btn-close {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: $bw;
  padding: 0;
  position: relative;
  cursor: pointer;
  outline: transparent;
  transition: background-color 0.5s ease;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background-color: $bd7;
    top: 20px;
    left: 11px;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background-color: $bd7;
    top: 20px;
    left: 11px;
    transform: rotate(-45deg);
  }

  &:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
  }

  &:hover {
    background-color: $bg1;

    &::after,
    &::before {
      background-color: $bg9;
    }
  }

  &:active {
    background-color: #C1C1C14D;
  }
}