.header {

  &__top {
    background: $bd8;
  }

  &__menu {
    padding-top: 17px;
    padding-bottom: 15px;
  }

  &__bottom {
    background-color: $bg9;

    &-inner {
      display: flex;
      align-items: center;
      padding: 25px 0;
    }
  }

  &__logo {
    margin-right: 24px;

    &__img {
      width: 200px;
      height: 60px;
      @extend %bg;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  color: $bw;
  @extend %fOS700;
  font-size: $sz13;
  line-height: $lh138;

  &__list {
    display: flex;
    text-align: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    &--icon:not(:last-child) {
      margin-right: 46px;
    }
  }

  &__link {
    letter-spacing: 0.45px;
    outline: transparent;
    transition: opacity 0.5s ease,
      color 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 3px $bg1;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $bg2;
    }
  }

  &__icon {
    position: relative;

    &--del {
      padding-left: 46px;
    }

    &--tel {
      padding-left: 35px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -3px;
      height: 23px;
      @extend %bg;
    }

    &--del::before {
      width: 32px;
      background-image: url('../images/icon/icon-del-address.svg');
    }

    &--tel::before {
      width: 23px;
      background-image: url('../images/icon/icon-tel.svg');
    }
  }
}

.menulist {
  position: relative;
  margin-right: 31px;

  &__btn {
    width: 240px;
    height: 50px;
    text-align: center;
    background-color: $bw;
    border-radius: 6px;
    color: $bg9;

    display: flex;
    justify-content: space-around;
    align-items: center;

    outline: transparent;
    transition: background-color 0.5s ease;

    position: relative;

    &--active {
      background-color: $bg2;
      border-radius: 6px 6px 0 0;
    }
  }

  &__list {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 50px;

    width: 240px;
    max-height: 100vh;

    background-color: $bw;

    overflow-y: auto;

    display: block;
    font-size: $sz16;
    @extend %fOS400;
    text-align: left;

    display: none;
  }

  &__link {
    display: block;
    padding: 11px 10px 11px 24px;
    color: $bd8;
    line-height: $lh12;
    border: 1px solid $bd4;

    outline: transparent;
    transition: border-left 0.5s ease, color 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px $bd3;
      border-radius: 3px;
    }

    &:hover {
      border-left: 3px solid $bg9;
      color: $bg9;
    }

    &:active {
      color: $bs5;
    }
  }
}

.menulist-btn__icon-nav {
  width: 20px;
  height: 1px;
  left: 0;
  top: 0;
  background-color: $bg9;
  position: relative;

  &::before,
  &::after {
    width: 25px;
    height: 1px;
    left: 0;
    background-color: $bg9;
    position: absolute;
    z-index: 15;
    content: "";
  }

  &::before {
    top: 5px;
  }

  &::after {
    bottom: 5px;
  }
}

.menulist-btn__icon-arrow {
  width: 8px;
  height: 4px;
  @extend %bg;
  background-image: url('../images/icon/chevron_right.svg');
 

  &--active {
    background-image: url('../images/icon/chevron_top.svg');
  }
}

.menulist--active .menulist__list--active {
  display: block;
}

.search-form {
 position: relative;
 width: 576px;
 background-color: $bw;
 height: 50px;
 border-radius: 6px;
 margin-right: 56px;

  &__input {
    width: 100%;
    height: 50px;
    padding-left: 13px;
    box-shadow: 0 0 0 4px $bg8;
    border-radius: 6px;
    outline: none;
    @extend %fOS400;
    background-color: $bw;
    color: $bd7;
    padding-left: 38px;

    &::placeholder {
      padding-left: 16px;
      color: $bd7;
      font-size: $sz14;
      line-height: $lh14;
      @extend %fOS400;
    }
  }

  &__label {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 13px;
      top: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      @extend %bg;
      background-image: url('../images/icon/icon-search.svg');
    }
  }

  &__btn {
    position: absolute;
    right: 0px;
    width: 158px;
    height: 50px;
    border: none;
    background: $bd7;
    border-radius: 0 6px 6px 0;
    color: $bw;
    text-transform: uppercase;
    outline: transparent;
    transition: background-color 0.5s ease,
      color 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 4px $bd3;
    }

    &:hover {
      background-color: $bd6;
    }

    &:active {
      color: $bs9;
    }
  }
}

.user {
display: flex;
justify-content: space-between;

 /*? если сделать ul и обвертки из li, то иконки неотображаются */
&__item:not(:last-child) {
  margin-right: 37px;
}

 /*  &__link:not(:last-child) {
    margin-right: 37px;
  } */

  &__item {
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;

    border: 2px solid transparent;
    border-radius: 3px;
   
    outline: transparent;
    transition: border-color 0.8s ease,
    opacity 0.8s ease;

    position: relative; 

   
    &:focus::before {
      background-color: $bd2;
      box-shadow: inset 0 0 0 3px $bg1;
    }

    &:hover,
    &:active {
      border-color: $bw;
     /*  background-color: $bw; */
      opacity: 0.1;
    }
  }

   &__link {
     position: absolute;
    
    /*  @extend %bg;
     background-size: contain; */
     top: 9px;
     right: 50%;
     /* fill: $bw; */

    transform: translateX(50%);

     
      outline: transparent;
      transition: opacity 0.8s ease;

      &:hover {
       /*  border-color: $bw; */
         fill: $bw;
        opacity: 1;
      }
   }

  &__link--user {
    width: 25px;
    height: 32px;
   /*  background-image: url('../images/icon/icon-user.svg'); */
   mask: url('../images/sprite.svg#icon-user') center / cover no-repeat;
   background-color: #fff;
  }

  &__link--heart {
    width: 32px;
    height: 32px;
    background-image: url('../images/icon/icon-heart.svg');
  }

  &__link--cart {
    width: 32px;
    height: 32px;
    background-image: url('../images/icon/icon-cart.svg');
  }

  &__number {
    position: absolute;
    top: -5px;
    left: -10px;

    color: $br9;
    font-size: $sz10;
    line-height: $lh18;
    @extend %fOS600;
    text-align: center;
    align-items: center;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $bw;
  }
}

.cart {
  width: 475px;
  /* height: 1920px; */
  @extend %fOS400;
  letter-spacing: 0.3px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 27px;
  }

  &__bottom-content {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__title {
    color: $bd8;
    font-size: $sz24;
    line-height: $lh12;

    &--top {
      margin-bottom: 12px;
    }
  }

  &__text {
    @extend %fOS300;
  }

  &__price {
    @extend %fOS300;
    font-size: $sz24;
    line-height: $lh12;

    & span {
      font-size: $sz18;
      color: $bd5;
    }
  }

  &__btn {
    display: block;
    @extend %btn;
    border-radius: 0;
    text-align: center;
  }

  &__btn-close {
    @extend %btn-close;
  }

  &__full {
    max-height: 705px;
    overflow-y: auto;
    background-color: $bs1;
    padding: 12px;
  }

 /*  &__cards {} */

  &__content {
    display: grid;
    grid-template-columns: 115px 300px;
    max-width: 452px;
    width: 100%;
    max-height: 84px;
    height: 100%;
    margin-left: 0;
    margin-bottom: 12px;
  }
}

.card {
  padding-bottom: 14px;

  /*  &__box--cart {} */

  &__link--cart {
    &::before {
      width: 26%;
      top: 0;
      bottom: 0;
    }
  }

  &__link-img--cart {
    width: 81px;
    height: 60px;
  }

  &__kodprodukta--cart {
    display: none;
  }

  &__link-icon--cart {
    top: 15px;
    left: 30px;
  }

  /* &__content--cart {} */

  &__text--cart {
    max-width: 170px;
  }

  /* &__price-info--cart {} */

  &__discount--cart {
    display: none;
  }

  /* &__price--cart {}

  &__inner--cart {} */

  &__availability--cart {
    display: none;
  }

  &__iconbox--cart {
    display: none;
  }

  &__stars--cart {
    display: none;
  }

  /* &__stars-one--cart {}

  &__stars-five--cart {} */

  &__btn-heart--cart {
    display: none;
  }

  &__btn-close--cart {
    top: -70px;
    left: 398px;
  }

  &__pic--cart {
    right: 73px;
    bottom: 14px;
  }

  &__btn-cart--cart {
    display: none;
  }
}