.header {
  &__top {
    background: $bd7;
  }

  &__menu {
    @media (max-width: $md2) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__bottom {
    background-color: $bg9;
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;

    @media (max-width: $md2) {
      padding: 6px 0;
    }
  }

  &__logo {
    margin-right: 24px;

    @media (max-width: $md2) {
      display: none;
    }

    &__img {
      width: 200px;
      height: 60px;
      @include img_bg();
    }
  }

  &__logo--short {
    margin-right: 24px;
    display: none;

    @media (max-width: $md2) {
      display: block;
    }
  }

  &__img--short {
    width: 37px;
    height: 40px;
    @include img_bg();
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--active .contact-form__form--active {
    transform: translateY(0%);
  }

  &__btn {
    display: none;
    width: 30px;
    height: 20px;
    margin-left: 5px;

    @media (max-width: $md2) {
      display: block;

      position: relative;
      z-index: 3000;

      & span,
      &::before,
      &::after {
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: $bw;
        position: absolute;
        z-index: 150;
      }

      & span {
        top: calc(50% - 1px);
      }

      &::before,
      &::after {
        content: "";
        transition: top 0.3s ease-in-out, bottom 0.3s ease-in, transform 0.3s ease;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &--active span {
        display: none;
      }

      &--active::before {
        left: 245px;
        background-color: $bd7;
        transform: rotate(-225deg);
        top: calc(50% - 1px);
      }

      &--active::after {
        left: 245px;
        background-color: $bd7;
        transform: rotate(225deg);
        bottom: calc(50% - 1px);
      }
    }
  }

  &__list {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 15px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 24px;

      @media (max-width: $md2) {
        @include transition(background-color, 0, 0, 0.5, ease);
      }
    }

    &--tel {
      padding-left: 24px;
    }

    @media (max-width: $md2) {
      padding-left: 0;
    }
  }

  &__link {
    @include transition(color, opacity, 0, 0.5, ease);

    &:focus {
      box-shadow: 0 0 0 3px $bg1;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $bg2;
    }
  }

  &__icon {
    position: relative;

    &--del {
      padding-left: 46px;

      @media (max-width: $md2) {
        padding-left: 36px;
      }
    }

    &--tel {
      padding-left: 35px;

      @media (max-width: $md2) {
        padding-left: 20px;
      }
    }

    &::before {
      @include position(1, 0);
      left: 0;
      top: 0;

      @media (max-width: $md2) {
        top: 0;
      }
    }

    &--del {
      &::before {
        @include icon(del-address, 40, 22, $bw);
      }
    }

    &--tel {
      &::before {
        @include icon(tel, 23, 22, $bw);
      }
    }
  }

  &__list--close {
    @media (max-width: $md2) {
      display: none;
    }
  }

  &__link-text {
    color: $bw;
    font-weight: 700;
    font-size: $sz13;
    line-height: $lh138;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    &--close {
      @media (max-width: $md2) {
        font-size: 0;
      }
    }
  }
}

.menulist {
  position: relative;
  z-index: 100;
  margin-right: 32px;
  border-radius: 6px;
  border: 1px solid $bd4;

  @media (max-width: $md2) {
    display: none;
  }

  &__btn {
    width: 240px;
    height: 50px;
    text-align: center;
    background-color: $bw;
    border-radius: 6px;
    color: $bg9;

    display: flex;
    justify-content: space-around;
    align-items: center;
    @include transition(background-color, 0, 0, 0.5, ease);

    position: relative;

    &--active,
    &:hover {
      background-color: $bg2;
      border-radius: 6px 6px 0 0;
    }
  }

  &__list {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50px;

    width: 240px;
    max-height: 100vh;
    overflow-y: auto;

    background-color: $bw;

    display: block;
    font-size: $sz16;
    font-weight: 400;
    text-align: left;

    display: none;
  }

  &__link {
    display: block;
    padding: 11px 10px 11px 24px;
    color: $bd8;
    line-height: $lh12;
    border-bottom: 1px solid $bd4;
    border-left: 3px solid transparent;

    @include transition(border-left-color, color, 0, 0.5, ease);

    &:focus {
      box-shadow: 0 0 0 2px $bd3;
    }

    &:hover {
      border-left-color: $bg9;
      color: $bg9;
    }

    &:active {
      color: $bs5;
    }
  }
}

.contact__menulist {
  @media (max-width: $md2) {
    display: block;
  }
}

.menulist-btn__icon-nav {
  @include position-size(0, 0, 20, 1, $bg9);
  left: 0;
  top: 0;

  &::before,
  &::after {
    @include position-size(1, 15, 25, 1, $bg9);
    left: 0;
  }

  &::before {
    top: 8px;
  }

  &::after {
    bottom: 8px;
  }
}

.menulist-btn__icon-arrow {
  @include icon(chevron_right, 8, 4, $bg9);

  &--active {
    @include icon(chevron_top, 8, 4, $bg9);
  }
}

.menulist--active .menulist__list--active {
  display: block;
}

.search-form {
  position: relative;
  width: 576px;
  background-color: $bw;
  height: 50px;

  border-radius: 6px;
  margin-right: 25px;

  &::before {
    @include position(1, 0);
    @include icon(search, 20, 20, $bd7);
    left: 13px;
    top: 16px;
  }

  @media (max-width: $maxWidth) {
    display: none;

    position: absolute;
    z-index: 150;
    right: 0;
    border: 1px solid $bd8;
    top: 160px;

    &--active {
      display: block;
    }
  }

  @media (max-width: $md2) {
    left: 0;
    top: 112px;
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding-left: 13px;
    box-shadow: 0 0 0 4px $bg8;
    border-radius: 6px;
    outline: none;
    font-weight: 400;
    background-color: $bw;
    color: $bd7;
    padding-left: 38px;

    @media (max-width: $md2) {
      display: none;
    }

    &--media {
      display: none;

      @media (max-width: $md2) {
        display: block;
      }
    }

    &::placeholder {
      padding-left: 16px;
      color: $bd7;
      font-size: $sz14;
      line-height: $lh14;
      font-weight: 400;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 158px;
    width: 100%;
    padding: 12px 24px;
    height: 50px;
    border: none;
    background: $bd7;
    border-radius: 0 6px 6px 0;
    color: $bw;
    text-transform: uppercase;

    @include transition(background-color, color, 0, 0.5, ease);

    &:focus {
      box-shadow: 0 0 0 4px $bd3;
    }

    &:hover {
      background-color: $bd6;
    }

    &:active {
      color: $bs9;
    }
  }
}

.user {
  display: flex;
  justify-content: space-between;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: $md2) {
        margin-right: 7px;
      }

      @media (max-width: $md2) {
        margin-right: 0;
      }
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: block;

    border: 2px solid transparent;
    border-radius: 3px;

    @include transition(background-color, border-color, opacity, 0.8, ease);

    position: relative;

    &::before {
      @include position-size(1, 0, 0, 33, $bw);
      top: 9px;
      right: 50%;
      transform: translateX(50%);

      @media (max-width: $md2) {
        @include position-size(1, 0, 0, 23, $bw);
      }
    }

    &:focus,
    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        background-color: $bs9;
      }
    }

    &--search {
      &::before {
        @include icon(search, 33, 0, $bw);
      }

      display: none;

      @media (max-width: $maxWidth) {
        display: block;
      }
    }

    &--user {
      &::before {
        @include icon(user, 26, 0, $bw);
      }

      @media (max-width: $md2) {
        display: none;
      }
    }

    &--heart {
      &::before {
        @include icon(heart, 37, 0, $bw);
      }
    }

    &--cart {
      &::before {
        @include icon(cart, 33, 0, $bw);
      }
    }

    &:focus {
      background-color: $bd2;
      box-shadow: inset 0 0 0 3px $bg1;
    }

    &:hover {
      border-color: $bw;
      opacity: 0.1;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &__number {
    @include line-clamp(1);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    color: $br9;
    font-size: $sz10;
    line-height: $lh18;
    font-weight: 600;
    text-align: center;
    align-items: center;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $bw;
  }
}

.cart-form {
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: auto;

  display: block;
  text-align: center;
  transform: translateY(-200%);
  transition: transform 0.3s ease;

  @media (max-width: $md2) {
    margin-right: 0;
  }

  &__form {
    @include position-size(1, 1000, 0, 0, $bw);
    right: 0;
    top: 160px;
    display: none;

    &--active {
      display: block;
    }

    @media (max-width: $md3) {
      width: 375px;
      right: 0;
      top: 114px;
    }
  }
}

.contact {
  &__container {
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $bw;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &__logo {

    &__img {
      width: 55px;
      height: 60px;
      @include img_bg();
    }
  }

  &__logo-text {
    max-width: 129px;
    text-transform: uppercase;
    color: $bg9;
    font-weight: 600;
    padding-left: 14px;
  }

  &__title {
    font-size: $sz28;
    line-height: $lh122;
  }

  &__text {
    font-size: $sz12;
    line-height: $lh1;
  }

  &__exit-btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding-left: 55px;
    border-radius: 0%;
    background-color: $bg9;
    display: flex;
    justify-content: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: $lh1;
    letter-spacing: 0.3px;
    position: relative;

    @include transition(background-color, 0, 0, 0.5, ease);

    &::before {
      @include position(1, 0);
      @include icon(user, 32, 25, $bw);
      top: 9px;
      left: 15px;
    }

    &:active {
      &::before {
        background-color: $bs9;
      }
    }
  }

  &__menulist {
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    background-color: $bw;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &__menulist-btn {
    width: 100%;
    border-radius: 0;
    padding-left: 15px;
    justify-content: start;
    height: 48px;

    &--active,
    &:hover {
      border-radius: 0;
    }
  }

  &__menulist-icon {
    background-color: $bd7;

    &::before,
    &::after {
      background-color: $bd7;
    }
  }

  &__menulist-name {
    color: $bd7;
    font-size: $sz18;
    line-height: $lh1;
    letter-spacing: 0.3px;
    font-weight: 600;
    padding-left: 16px;
  }

  &__menulist-list {
    width: 100%;
  }

  &__adress {
    width: 100%;
    letter-spacing: 0.45px;
    margin-bottom: 15px;
    padding-top: 24px;
  }

  &__adress-item {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-self: start;
  }

  &__adress-icon {
    width: 24px;
    height: 24px;
    left: 0;

    &--phone {
      @include icon(tel_contact, 0, 0, $bd8);
    }

    &--map {
      @include icon(map_contact, 0, 0, $bd8);
    }
  }

  &__adress-link {
    max-width: 230px;
    margin-left: 15px;
    color: $bd7;
    font-size: $sz18;
    line-height: $lh12;
    font-weight: 400;
    letter-spacing: 0.3px;
  }

  &__social {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    padding-bottom: 24px;
  }

  &__social-item {
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    display: block;
    margin-right: 12px;
    width: 32px;
    height: 32px;

    @include transition(background-color, opacity, 0, 0.5, ease);

    &:focus {
      box-shadow: 0 0 0 3px $bg9;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      background-color: $bg9;
    }
  }

  &__info {
    padding-top: 17px;
    padding-bottom: 17px;
    color: $bd7;
    font-size: $sz18;
    line-height: $lh12;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: left;
  }

  &__info-item {
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__info-link {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.contact-form {
  position: relative;
  height: 50px;
  top: 15px;

  @media (max-width: $md2) {
    margin-right: 0;
  }

  &__form {
    position: absolute;
    z-index: 2000;
    display: none;
    left: 0;
    top: 0;

    &--active {
      display: block;
    }
  }
}