.top {
  text-align: center;

  &__title {
    margin-bottom: 32px;

    @media (max-width: $md4) {
      margin-bottom: 25px;
    }
  }

  &__filter {
    position: relative;
  }

  &__full {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 15px;

    @media (max-width: $md2) {
      column-gap: 15px;
      margin-bottom: 15px;
    }

    @media (max-width: $md4) {
      margin-bottom: 5px;
      column-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
  }

  &__item {
    grid-row: span 1;
  }

  &__cards {
    margin-bottom: 30px;

    @media (max-width: $md2) {
      margin-bottom: 15px;
    }

    @media (max-width: $md4) {
      margin-bottom: 5px;
    }
  }

  &__btn {
    letter-spacing: 0.75px;
    background-color: $bw;
    border: 1px solid $bg9;
    color: $bg9;

    @include transition(background-color, box-shadow, 0, 0.5, ease);

    &:focus {
      border: 1px solid #63A60E;
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $bg1;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: $md2) {
      margin-top: 24px;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 51px;

  @media (max-width: $md2) {
    margin-bottom: 24px;
  }

  @media (max-width: $md4) {
    margin-bottom: 4px;
    min-width: 274px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    @media (max-width: $md4) {
      &:not(:last-child) {
        margin-right: 0;
      }

      &:nth-child(even) {
        margin-right: 31px;
      }

      &:first-child {
        margin-right: 31px;
      }
    }
  }

  &__name {
    color: $bd5;
    font-size: $sz15;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border-bottom: 3px solid transparent;
    margin-bottom: 3px;

    outline: transparent;
    transition: color 0.5s ease,
      border-bottom-color 0.5s ease;

    @media (max-width: $md4) {
      font-size: $sz14;
    }

    &:focus {
      box-shadow: 0 0 0 3px $bg2;
      border-radius: 3px;
    }

    &:hover {
      color: $bg9;
    }

    &:active {
      border-bottom-color: $bg8;
    }

    @media (max-width: $md2) {
      margin-bottom: 18px;
    }

    @media (max-width: $md4) {
      margin-bottom: 15px;
    }
  }
}

.mixitup-control-active {
  border-bottom-color: $bg8;
}

.card {

  &__subline--top {
    display: flex;
    justify-content: end;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 6px;
  }

  &__box--top {
    position: relative;

    @media (max-width: $md4) {
      margin-bottom: 5px;
    }
  }

  &__link--top {

    &::before {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__link-img--top {
    width: 264px;
    height: 225px;
    margin: 0 auto;

    @media (max-width: $md2) {
      width: 168px;
      height: 126px;
    }
  }

  &__link-icon--top {
    top: 88px;
    left: 108px;

    @media (max-width: $md2) {
      top: 30px;
      left: 60px;
    }
  }

  &__kodprodukta--top {
    display: none;
  }

  &__content--top {
    max-height: 120px;
    height: 100%;

    @media (max-width: $md2) {
      max-height: 152px;
      height: 100%;
    }
  }

  &__topline--top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;

    @media (max-width: $md2) {
      padding-left: 12px;
      padding-right: 12px;
      height: 70%;
    }
  }

  &__text--top {
    @include line-clamp(3);
    max-height: 67px;
    min-height: 60px;
    width: 100%;
    margin-bottom: 8px;

    @media (max-width: $md3) {
      /* @include line-clamp(1); */
    }
  }

  &__bottomline--top {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;

    @media (max-width: $md4) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }

  &__btn-box--top {
    display: flex;
  }

  &__price-info--top {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__summprice--top {
    display: none;
  }

  &__middleline--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    padding-left: 18px;
    padding-right: 18px;

    display: none;

    @media (max-width: $md2) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__iconbox--top {
    position: absolute;
    top: 0;
    left: 12px;
  }

  &__stars--top {
    order: 1;
    text-align: end;
  }

  &__stars-five--top {
    display: none;
  }

  &__btn-close--top {
    display: none;
  }

  &__pic--top {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;

    @media (max-width: $md2) {
      position: absolute;
      margin-right: 0;
      bottom: 56px;
      left: 43px;
    }
  }

  &__btn-cart--top {
    & span {
      display: none;
    }
  }
}