.slide {
  position: relative;
  margin-top: 0;

  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 599px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__inner {
    background-color: $bd1;
    border-radius: 4px;
    width: 1290px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $bd5;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__visible {
    position: relative;
  }

  &__title {
    font-size: $sz60;
    line-height: $lh13;
    @extend %fR900;
    text-transform: uppercase;
    max-width: 765px;

    &--action {
      @extend %fS700;
      color: $br9;
      margin-bottom: 10px;
      letter-spacing: -1px;
    }
  }

  &__text {
    @include line-clamp(1);
    font-size: $sz16;
    @extend %fOS400;
    margin-bottom: 32px;
    letter-spacing: 0.45px;
  }

  &__link {
    width: 181px;
  }
}

.slick-btn {
  position: absolute;
  top: 45%;
  z-index: 3;
  width: 60px;
  height: 60px;
  background-color: $bd1;
  border-radius: 6px;

  outline: transparent;
  transition: background-color 0.5s ease;

  &::before {
    position: absolute;
    z-index: 4;
    content: "";
    top: 30%;
    width: 23px;
    height: 23px;
    border-top: 3px solid $bd5;
    border-right: 3px solid $bd5;

    outline: transparent;
    transition: border-color 0.5s ease;
  }

  &:focus {
    box-shadow: 0 0 0 3px #63A60E80;

    &::before {
      border-color: $bs7;
    }
  }

  &:hover {
    background-color: $bg2;

    &::before {
      border-color: $bg9;
    }
  }

  &:active {
    background-color: $bs6;

    &::before {
      border-color: $bg9;
    }
  }

  &.slick-disabled {
    cursor: default;
  }

  &.slick-disabled::before {
    border-color: $bs5;
  }
}

.slick-next {
  right: 62px;

  &::before {
    content: "";
    transform: rotate(45deg);
    left: 25%;

    position: absolute;
  }
}

.slick-prev {
  left: 62px;

  &::before {
    content: "";
    transform: rotate(-135deg);
    left: 35%;

    position: absolute;
  }
}