.news {
  padding-top: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: -20px;
  }

  &__link {
    align-items: center;
    color: $bg9;
    font-size: $sz14;
    @extend %fOS700;
    letter-spacing: 0.65px;
    outline: transparent;
    transition: color 0.5s ease,
      border-color 0.5s ease;
    padding-bottom: 6px;
    border-bottom: 2px solid $bg9;
    margin-bottom: -8px;

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &:hover {
      color: $bg6;
      border-color: $bg6;
    }

    &:active {
      border-color: $bg2;
    }
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__bottom-item {
    position: relative;
    width: calc(100% / 3 - 30px);
    width: 100%;
  }

  &__bottom-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__bottom-label {
    position: absolute;
    z-index: 2;
    width: 65px;
    height: 76px;
    top: 0;
    left: 20px;
    background-color: $bw;
    border-radius: 0px 0px 4px 4px;
    font-size: $sz10;
    line-height: $lh136;
    @extend %fOS700;
    text-align: center;
    display: block;
    padding-top: 18px;
    letter-spacing: 1.3px;

    &--day {
      display: block;
      font-size: $sz30;
      line-height: $lh1;
      @extend %fR600;
    }
  }

  &__bottom-content {
    max-width: 410px;
    height: 348px;
    box-shadow: 0 3px 3px 0 #00000040;
  }

  &__bottom-img {
    object-fit: cover;
    margin-bottom: 18px;
  }

  &__bottom-link {
    outline: transparent;
    transition: color 0.5s ease;

    &:focus {
      color: $bg9;
    }
  }

  &__bottom-text {
    @include line-clamp(3);
    padding: 0 26px 18px 18px;
    font-size: $sz16;
    letter-spacing: 0.2px;
  }
}