.brands {
    &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    @include img_bg();
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  &__item{
    min-width: calc(100% / 6);
  }

  &__link {
    background-repeat: no-repeat;
    max-height: 80px;
    opacity: 0.5;
    @include transition(opacity, 0, 0, 0.5, ease);

    &:hover {
      opacity: 1;
    }

    & img{
      margin: 0 auto;
    }
  }
}