.advantages {
  background-color: $bs1;

  &__inner {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 29px;
  }

  &__item {
    max-width: 266px;
    width: 100%;

    padding-left: 75px;
    padding-right: 10px;
    margin-right: 65px;

    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      left: 0;
      top: 0;
      background-color: $bg9;
    }

    &--scooter {
      &::before {
        mask: url('../images/sprite.svg#icon-scooter') center / cover no-repeat;
      }
    }

    &--return-box {
      &::before {
        mask: url('../images/sprite.svg#icon-return-box') center / cover no-repeat;
      }
    }

    &--clock {
      &::before {
        mask: url('../images/sprite.svg#icon-clock') center / cover no-repeat;
      }
    }
  }

  &__name {
    font-size: $sz16;
    margin-bottom: 6px;
  }

  &__text {
    @include line-clamp(2);
    color: $bd5;
    @extend %fOS400;
  }
}