.advantages {
  background-color: $bs1;

  @media (max-width: $md2) {
    padding: 60px 0;
  }

  @media (max-width: $md2) {
    padding: 50px 0;
  }

  @media (max-width: $md3) {
    padding: 30px 0;
  }

  @media (max-width: $md4) {
    padding: 0 0;
  }

  &__inner {
    @include flex(2, 0, 0, 0);
    padding-top: 49px;
    padding-bottom: 29px;

    @media (max-width: $md3) {
      @include flex(2, 0, 0, 1);
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__item {
    max-width: 266px;
    width: 100%;

    padding-left: 75px;
    padding-right: 10px;
    margin-right: 65px;

    position: relative;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $md2) {
      margin-right: 15px;
      margin-left: 15px;
    }

    @media (max-width: $md4) {
      margin-right: 0;
      margin-left: 0;
    }

    &::before {
      @include position(1, 0);
      left: 0;
      top: 0;
    }

    &--scooter {
      &::before {
        @include icon(scooter, 50, 50, $bg9);
      }
    }

    &--return-box {
      &::before {
        @include icon(return-box, 50, 50, $bg9);
      }
    }

    &--clock {
      &::before {
        @include icon(clock, 50, 50, $bg9);
      }
    }

    @media (max-width: $md3) {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__name {
    font-size: $sz16;
    margin-bottom: 6px;

    @media (max-width: $md3) {
      margin-bottom: 7px;
    }
  }

  &__text {
    @include line-clamp(2);
    color: $bd5;
    font-weight: 400;
  }
}