/*font-size*/
$sz12: 12px;
$sz13: 13px;
$sz14: 14px;
$sz15: 15px;
$sz16: 16px;
$sz18: 18px;
$sz30: 30px;
$sz32: 32px;
$sz60: 60px;

/*color*/
$bg9:#63A60E;
$bg2:#E0EDCF;
$bg1:#EFF6E7;
$br9:#CF3E3B;
$bo9:#FF7A00;
$by9:#FFB800;
$bd9:#121212;
$bd8:#000;
$bd7:#31352B;
$bd3:rgba(255, 255, 255, 0.5);
$bd4:rgba(193, 193, 193, 0.3);
$bd5:#505050;
$bs5:#C1C1C1;
$bs1:#F6F6F6;
$bw:#FFFFFF;

/*line-height*/
$lh14: 1.4;
$lh138: 1.38;
$lh12: 1.2;

/*font-famili*/
%fOS300 {
  font-family: 'OpenSans-Light',
    sans-serif;
  font-weight: 300;
}

%fOS400 {
  font-family: 'OpenSans-Regular',
    sans-serif;
  font-weight: 400;
}

%fOS600 {
  font-family: 'OpenSans-SemiBold',
    sans-serif;
  font-weight: 600;
}

%fOS700 {
  font-family: 'OpenSans-Bold',
    sans-serif;
  font-weight: 700;
}

%fRR400 {
  font-family: 'Ruda-Regular',
    sans-serif;
  font-weight: 400;
}

%fRR600 {
  font-family: 'Ruda-SemiBold',
    sans-serif;
  font-weight: 600;
}