@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'header';
@import 'home_slider';
@import 'home_advantages';
@import 'home_top';
@import 'footer';
@import 'media';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 72px 0;
}

.title {
  font-size: $sz32;
  letter-spacing: 0.9px;
  margin-bottom: 30px;
  @extend %fR600;
  text-transform: uppercase;
  text-align: center;
}



/*-main.banner--------------------------*/
.banner {
  padding-top: 0;

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 13px;
    width: 100%;
  }

  &__content {
    @extend %bg;
    text-transform: uppercase;
    color: $bd5;
    @extend %fOS700;
    padding-top: 76px;
    padding-bottom: 82px;
    padding-left: 51px;


    &--fruits {
      padding-left: 35px;
      color: $bw;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    &-subtitle {
      font-size: $sz12;
      line-height: $lh1;
      letter-spacing: 0.9px;
      margin-bottom: 18px;
    }

    &-title {
      max-width: 160px;
      font-size: $sz30;
      line-height: $lh14;
      @extend %fR600;
      letter-spacing: 0.3px;
      margin-bottom: 7px;

      &--fruits {
        max-width: 370px;
        text-decoration-line: $bd5 2px;
      }
    }

    &-link {
      border-bottom: 2px solid $bd5;
      padding-bottom: 6px;

      &--fruits {
        border-bottom-color: $bw;
      }
    }
  }
}

/*-main.promo--------------------------*/
.promo {
  text-align: center;
  background-color: $bs4;

  &__filter {
    /* @extend %filter; не подключается как класс*/
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 30px;
    width: 100%;
    margin-bottom: 48px;
  }

  &__cards {
    /*  display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    width: 300px;
  }

  &__card-content {
    /*   display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 118px 164px;
    width: calc(300px - 0px);
    height: calc(124px - 0px);
  }

  &__availability {
    top: 75px;
    left: 135px;
  }

  &__stars-one {
    top: 95px;
  }

  &__btn {
    @extend %btn;
    @extend %bg;
    letter-spacing: 1.1px;
    background-color: $bw;
    border: 1px solid $bg9;
    border-radius: 6px;
    color: $bg9;
    outline: transparent;
    transition: background-color 0.5s ease,
      box-shadow 0.5s ease;

    &:focus {
      border: 1px solid #63A60E;
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $bg1;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__invisible {
    display: none;

    &--active {
      display: block;
    }
  }

  &__btn {
    @extend %btn;

  }
}

/*-main.brands--------------------------*/
.brands {

  &__items {
    display: flex;
    justify-content: space-around;
    @extend %bg;
  }

  &__link {
    background-repeat: no-repeat;
    max-height: 80px;
    opacity: 0.5;
    outline: transparent;
    transition: opacity 0.5s ease;
  }

  &__link:hover {
    opacity: 1;
  }
}

/*-main.news--------------------------*/
.news {
  padding-top: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: -20px;
  }

  &__link {
    align-items: center;
    color: $bg9;
    font-size: $sz14;
    @extend %fOS700;
    letter-spacing: 0.65px;
    outline: transparent;
    transition: color 0.5s ease,
    border-color 0.5s ease;
    padding-bottom: 6px;
    border-bottom: 2px solid $bg9;
    margin-bottom: -8px;

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &:hover {
      color: $bg6;
      border-color: $bg6;
    }

    &:active {
      border-color: $bg2;
    }
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &-item {
      position: relative;
      width: calc(100% / 3 - 30px);
      width: 100%;
    }

     &-item:not(:last-child){
    margin-right: 30px;
  }

    &-label {
      position: absolute;
      z-index: 2;
      width: 65px;
      height: 76px;
      top: 0;
      left: 20px;
      background-color: $bw;
      border-radius: 0px 0px 4px 4px;
      font-size: $sz10;
      line-height: $lh136;
      @extend %fOS700;
      text-align: center;
      display: block;
      padding-top: 18px;
      letter-spacing: 1.3px;

      &--day {
        display: block;
        font-size: $sz30;
        line-height: $lh1;
        @extend %fR600;
      }
    }

    &-content {
      max-width: 410px;
      min-height: 348px;
      box-shadow: 0 3px 3px 0 #00000040;
    }

    &-img {
      object-fit: cover;
      margin-bottom: 18px;
    }

    &-link {
      outline: transparent;
      transition: color 0.5s ease;

      &:focus {
        color: $bg9;
      }
    }

    &-text {
      padding: 0 26px 18px 18px;
      font-size: $sz16;
      letter-spacing: 0.2px;
    }
  }
}


