.top {
  text-align: center;

  &__filter {
    /* @extend %filter; не подключается как класс*/
    position: relative;
  }

  &__content {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    /* grid-gap: 30px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
  }

  &__btn {
    @extend %btn;
    @extend %bg;
    letter-spacing: 0.75px;
    background-color: $bw;
    border: 1px solid $bg9;
    border-radius: 6px;
    color: $bg9;
    outline: transparent;
    transition: background-color 0.5s ease,
      box-shadow 0.5s ease;

    &:focus {
      border: 1px solid #63A60E;
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $bg1;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

/* card__displaynone-btn */
.card {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  background-color: $bw;

  position: relative;
  z-index: 30;
  padding: 12px 18px 18px;
  height: 409px;
  margin-bottom: 30px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &__box {
    margin-top: 70px;
    max-width: 264px;
    max-height: 217px;
    min-width: 100px;
    margin-bottom: 20px;
  }

  &__link {
    outline: transparent;
    transition: opacity 0.5s ease;

    &::before {
      position: absolute;
      z-index: 1;
      content: "";
      background-color: $bd11;
      width: 300px;
      height: 217px;
      left: 0;
      opacity: 0;
    }

    &:hover::before {
      opacity: 0.1;
    }

    &:hover::after {
      opacity: 0;
    }

    &-img {
      object-fit: cover;
    }

    &-icon {
      position: absolute;
      z-index: 2;
      content: "";
      top: calc(100% - 56px - 217px + 24px);
      left: calc(100% - 174px);
      width: 48px;
      height: 48px;
      background-color: $bw;
      border-radius: 50%;
      opacity: 0;

      &::before {
        position: absolute;
        z-index: 4;
        content: "";
        width: 24px;
        height: 24px;
        @extend %bg;
        top: 12px;
        left: 12px;
        background-image: url('../images/icon/icon-search_card.svg');
      }
    }

    &:hover .card__link-icon {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align-last: left;
    min-width: 128px;
    height: 105px;
  }

  &__text {
    max-height: 60px;
    text-align: left;
    letter-spacing: 0.5px;
    padding-right: 18px;
  }

  &__discount {
    color: $bd5;
    line-height: $lh1;
    @extend %fOS400;
    position: absolute;
    bottom: 37px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;

      left: 0px;
      top: 6px;

      border: 1px solid $bs5;
      transform: rotate(-14.99deg);
    }
  }

  &__price {
    color: $bd5;
    line-height: $lh1;
    @extend %fOS400;
  }

  &__iconbox {
    max-width: 70px;
    padding-right: 37px;
    text-align: left;

    position: absolute;
    z-index: 5;
    top: 6px;
    left: 12px;
  }

  &__badge {
    display: block;
    text-transform: lowercase;
    border-radius: 6px;
    color: $bw;
    @extend %fOS700;
    font-size: $sz10;
    line-height: $lh16;
    text-align: center;
    margin: auto 0;
    /* identical to box height, or 10px */

    &--green {
      background-color: $bg9;
      width: 66px;
      margin-top: 9px;
    }

    &--orang {
      background-color: $bo9;
      width: 34px;
      margin-top: 9px;
    }

    &--red {
      background-color: $br9;
      min-width: 37px;
      margin-top: 9px;
    }
  }

  &__availability {
    position: absolute;
    top: 265px;
    left: 18px;
    z-index: 5;

    &-text {
      font-size: $sz10;
      line-height: $lh1;
      text-transform: uppercase;

      &--green {
        color: $bg9;
      }

      &--red {
        color: $br9;
      }

      &--grey {
        color: $bs5;
      }
    }
  }

  &__stars {

    &-one {
      line-height: $lh1;
      @extend %fOS700;
      padding-right: 18px;
      color: $bd5;
      position: absolute;
      top: 265px;
      right: 7px;

      &::after {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        @extend %bg;
        bottom: 0;
        right: 0;
        background-size: contain;
        background-image: url('../images/icon/star_1.svg');
      }
    }
  }

  &__btn-heart {
    position: absolute;
    top: 9px;
    right: 1px;

    @extend %bg;
    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 9px 6px;
    border-radius: 3px;
    border-color: transparent;
    fill: $bs5;

    outline: transparent;
    transition: fill 0.5s ease,
      transform 0.5s ease,
      background-position 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 3px $bg2;
    }

    & path:hover {
      fill: $by9;
    }

    & path:active {
      fill: rgba(255, 184, 0, 0.5);
    }

    &--active {
      animation-name: animate;
      animation-duration: .8s;
      animation-iteration-count: 1;
      animation-timing-function: steps(28);
      animation-fill-mode: forwards;
    }

    &--active path {
      fill: rgba(255, 184, 0, 0.5);
    }
  }

  @keyframes animate {
    0% {
      width: 32px;
      height: 32px;
      transform: scale(0.5);
      background-position: left;
    }

    50% {
      width: 80px;
      height: 80px;
      background-position: right;
      transform: scale(1.5);
    }

    100% {
      width: 50px;
      height: 50px;
      background-position: right;
      transform: scale(1);
    }
  }

  @-webkit-keyframes animate {
    0% {
      width: 32px;
      height: 32px;
      transform: scale(0.5);
      background-position: left;
    }

    50% {
      width: 80px;
      height: 80px;
      background-position: right;
      transform: scale(1.5);
    }

    100% {
      width: 50px;
      height: 50px;
      background-position: right;
      transform: scale(1);
    }
  }

  &__btn-cart {
    @extend %btn;
    width: 32px;
    height: 32px;
    background-color: $bg9;
    border-radius: 3px;
    padding: 8px;
    position: absolute;
    bottom: 18px;
    right: 18px;

    &::before {
      width: 16px;
      height: 16px;
      position: absolute;
      z-index: 3;
      content: "";
      top: 25%;
      left: 25%;

      @extend %bg;
      background-image: url('../images/icon/icon-cart_card.svg');
    }
  }

  &__pic {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 22px;
    right: 73px;
    width: 84px;
    height: 24px;

    &-input {
      width: 36px;
      background-color: $bg1;
      @extend %fOS400;
      font-size: $sz14;
      line-height: $lh1;
      color: $bd5;
      text-align: center;
    }

    &-btn {
      @extend %btn;
      width: 24px;
      background-color: $bg9;
      padding: 0;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 2px;
        background-color: $bw;
        top: 11px;
        left: 3px;
      }

      &--minus {
        border-radius: 3px 0 0 3px;
      }

      &--plus {
        border-radius: 0 3px 3px 0;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 2px;
          background-color: $bw;
          top: 11px;
          left: 3px;
          transform: rotate(90deg);
        }
      }
    }
  }

  &__displaynone {
    display: none;

    &-btn {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}


.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 51px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__name {
    color: $bd5;
    font-size: $sz15;
    @extend %fOS700;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    text-decoration-line: underline;
    text-decoration-color: transparent;
    outline: transparent;
    transition: color 0.5s ease,
      text-decoration-color 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 3px $bg2;
      border-radius: 3px;
    }

    &:hover {
      color: $bg9;
    }

    &:active {
      text-decoration-color: $bg8;
    }
  }
}